# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

!*/lib/linux/*.so
!*/lib/win32/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
setup/Output
*.exe
*.out
*.app
build
r-type_server
r-type_client

# Visual Studio
.vs

# Release
r-type_setup.exe
r-type_win32.zip
r-type_unix.tar.gz
RType
